.form__field-placeholder {
  padding: 0;
  margin: 12px 0 0 9px;
  color: $secondaryColor;;
  font-family: $fontFamily;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5;
}
