.card__tag {
  padding: 0;
  margin: 0 0 20px 0;
  color: $secondaryColor;
  font-family: $fontFamily;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

@include breakpoint('card__tag', $tablet) {
  margin-bottom: 15px;
}

@include breakpoint('card__tag', $mobile) {
  margin-bottom: 9px;
}
