.form__submit-button {
  margin: 0;
  padding: 13px 16px;
  min-width: 221px;
  min-height: 50px;
  font-family: $fontFamily;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.375px;
  background: $buttonBackgroundColor;
  color: $primaryColor;
  border: 0;
  border-radius: 0px 8px 8px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
