.content__section_place_feedback {
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: border-box;
  padding: 114px 60px 0;
}

@media screen and (max-width: 768px) {
  .content__section_place_feedback {
    padding: 76px 0 0;
  }
}
