$className: 'header__title';

.#{$className} {
  margin: 52px 0 12px;
  padding: 0;
  color: $primaryColor;
  font-family: $fontFamily;
  font-style: normal;
  font-weight: normal;
  font-size: 112px;
}

@include breakpoint(#{$className}, $tablet) {
  font-size: 50px;
}
