$className: 'header__title';

.#{$className} {
  margin: 52px 0 12px;
  padding: 0;
  color: $primaryColor;
  font-family: $fontFamily;
  font-style: normal;
  font-weight: normal;
  font-size: 112px;
}

@include breakpoint(#{$className}, $desktop) {
  margin-top: 70px;
  margin-bottom: 0;
  font-size: 70px;
  line-height: 1.29;
}

@include breakpoint(#{$className}, $mobile) {
  margin-top: 60px;
  font-size: 50px;
  line-height: 1.2;
}
