.gallery {
  display: grid;
  max-height: 552px;
  // grid-template-columns: repeat(15, 1fr);
  // grid-template-rows: repeat(10, 1fr);
  grid-template-columns: 448px 1fr;
  box-sizing: border-box;
  column-gap: 20px;
}

.gallery:nth-child(1) {
  margin-bottom: 20px;
}
.gallery:nth-child(2) {
  grid-template-columns: auto 1fr;
}
