.header {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url('../../images/header.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
