.footer__copyright {
  grid-row: 2;
  grid-column: 2;
  align-self: end;
  justify-self: end;
  margin: 0;
  padding: 0;
  color: $secondaryColor;
  font-family: $fontFamily;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5;
}
