.lead__illustration-title {
  padding: 0;
  margin: 8px 0 0 0;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media (max-width: 1023px) {
  .lead__illustration-title {
    padding-left: 24px;
  }
}

@media (max-width: 767px) {
  .lead__illustration-title {
    padding-left: 16px;
  }
}
