.description__text {
  margin: 0;
  padding: 0;
  color: $secondaryColor;
  font-family: $fontFamily;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 1.25;
}

@include breakpoint('description__text', $desktop) {
  font-size: 20px;
  line-height: 1.5;
}

@include breakpoint('description__text', $mobile) {
  font-size: 12px;
}
