.page__section_place_header {
  padding-bottom: 120px;
}

@include breakpoint('page__section_place_header', $desktop) {
  padding-bottom: 50px;
}

@include breakpoint('page__section_place_header', $mobile) {
  padding-top: 24px;
  padding-bottom: 38px;
}
