.page__section_place_footer {
  border-top: 2px solid $footerBorderColor;
}

@include breakpoint("page__section_place_footer", $tablet) {
  padding-top: 57px;
  padding-left: 5px;
  max-width: 85%;
}

@include breakpoint("page__section_place_footer", $mobile) {
  padding: 30px 0;
}
