.page__section_place_footer {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1120px;
  border-top: 2px solid $footerBorderColor;
}

@include breakpoint("page__section_place_footer", $mobile) {
  padding-top: 20px;
}
