.company__name {
  margin: 0 16px 0 6px;
  padding: 0;
  color: $primaryColor;
  font-family: $fontFamily;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.36;
}

@include breakpoint("company__name", $mobile) {
  margin-left: 0;
  font-size: 20px;
  line-height: 1.4;
}
