$primaryColor: #fff;
$secondaryColor: #8e8e98;
$accentColor: #25e197;
$backgroundColor: #000;
$badgePrimaryColor: #000;
$badgeBackgroundColor: #25e197;
$inputBackgroundColor: rgba(142, 142, 152, 0.2);
$inputBackgroundColorHovered: rgba(142, 142, 152, 0.3);
$cardBackgroundColor: #1c1c1e;
$cardBackgroundColorHovered: #232327;
$buttonBackgroundColor: #47474c;
$fontFamily: "Roboto", "Arial", sans-serif;
$footerBorderColor: #151515;
$desktop: 768px;
