$primaryColor: #fff;
$primaryColorLightTheme: #000;
$secondaryColor: #8e8e98;
$secondaryColorLightTheme: #47474c;
$accentColor: #25e197;
$backgroundColor: #000;
$backgroundColorLightTheme: #fff;
$badgePrimaryColor: #000;
$badgeBackgroundColor: #25e197;
$inputBackgroundColor: rgba(142, 142, 152, 0.2);
$inputBackgroundColorHovered: rgba(142, 142, 152, 0.3);
$cardBackgroundColor: #1c1c1e;
$cardBackgroundColorLightTheme: #FFF4CD;
$cardBackgroundColorHovered: #252528;
$cardBackgroundColorHoveredLightTheme: #FEDD68;
$buttonBackgroundColor: #47474c;
$buttonBackgroundColorHovered: #8e8e98;
$buttonHoverTransition: background 0.7s ease;
$fontFamily: "Roboto", "Arial", sans-serif;
$footerBorderColor: #151515;
$toggleLightThemeBackground: #fff;
$toggleDarkThemeBackground: #676767;
$toggleItemColor: #24b47e;
$cardWidth: 550px;
$cardWidthMobile: 280px;
$mobilePortrait: 425px;
$mobile: 767px;
$tablet: 1024px;
$desktop: 1240px;
