$primaryColor: #fff;
$secondaryColor: #8e8e98;
$accentColor: #25e197;
$backgroundColor: #000;
$badgePrimaryColor: #000;
$badgeBackgroundColor: #25e197;
$inputBackgroundColor: rgba(142, 142, 152, 0.2);
$inputBackgroundColorHovered: rgba(142, 142, 152, 0.3);
$cardBackgroundColor: #1c1c1e;
$cardBackgroundColorHovered: #232327;
$buttonBackgroundColor: #47474c;
$buttonBackgroundColorHovered: #8e8e98;
$buttonHoverTransition: background-color 0.2s linear;
$fontFamily: "Roboto", "Arial", sans-serif;
$footerBorderColor: #151515;
$toggleLightThemeBackground: #fff;
$toggleDarkThemeBackground: #545454;
$toggleThemeIconColor: #545454;
$toggleItemColor: #24B47E;
$cardWidth: 550px;
$cardWidthMobile: 280px;
$mobile: 767px;
$tablet: 1024px;
$desktop: 1240px;
