.card {
  display: flex;
  flex-direction: column;
  padding: 40px;
  min-width: $cardWidth;
  min-height: 282px;
  background: $cardBackgroundColor;
  transition: $buttonHoverTransition;
  border-radius: 16px;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
    background: $cardBackgroundColorHovered;
    transition: $buttonHoverTransition;
  }
}

@include breakpoint("card", $mobile) {
  padding: 20px;
  min-width: $cardWidthMobile;
}
