@use "sass:map";
// sass "словарь"

@import "/vendor/normalize.css";
@import "/vendor/fonts/fonts.css";
// vendor

@import "./modules/variables.scss";
@import "./modules/mixins.scss";
@import "./modules/functions.scss";
// переменные, миксины, функции

@import "./modules/blocks/page/page.scss";
@import "./modules/blocks/page/__section/page__section.scss";
@import "./modules/blocks/page/__section/_place/page__section_place_header.scss";
@import "./modules/blocks/page/__section/_place/page__section_place_footer.scss";
// page

@import "./modules/blocks/content/content.scss";
@import "./modules/blocks/content/__section/content__section.scss";
@import "./modules/blocks/content/__section/_place/content__section_place_gallery.scss";
// content

@import "./modules/blocks/header/header.scss";
@import "./modules/blocks/header/__title/header__title.scss";
@import "./modules/blocks/header/__subtitle/header__subtitle.scss";
// header

@import "./modules/blocks/company/company.scss";
@import "./modules/blocks/company/__name/company__name.scss";
@import "./modules/blocks/company/__badge/company__badge.scss";
// company

@import "./modules/blocks/form/form.scss";
@import "./modules/blocks/form/_place/form_place_footer/form_place_footer.scss";
@import "./modules/blocks/form/__field/form__field.scss";
@import "./modules/blocks/form/__field-placeholder/form__field-placeholder.scss";
@import "./modules/blocks/form/__submit-button/_submit-button";
// form

@import "./modules/blocks/gallery/gallery.scss";
@import "./modules/blocks/gallery/__item/gallery__item.scss";
@import "./modules/blocks/gallery/__image/gallery__image.scss";
// gallery

@import "./modules/blocks/footer/footer.scss";
@import "./modules/blocks/footer/__copyright/footer__copyright.scss";
// footer

// сначала переменные , потом блоки, потом элементы, потом модификаторы

.main {
  color: $primaryColor;
  background-color: $backgroundColor;
  font-family: $fontFamily;
}

.sidebar {
  float: left;
  margin-left: pow(4, 3) * 1px;
}

@include corner-icon("header", 100px, 100px);
// Миксины

$sizes: 40px, 50px, 80px;
// массив const sizes = ['40px', '50px', '80px']

@each $size in $sizes {
  // цикл foreach
  .icon-#{$size} {
    font-size: $size;
    height: $size;
    width: $size;
  }
}

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
// объект

.footer {
  font-weight: map.get($font-weights, "medium");

  // Вложенность
  &:after {
    content: "";
  }

  &:hover {
    color: pink;
  }

  > header:hover {
    // > - прямой потомок
    color: blue;
  }
}

// Медиазапросы

@mixin media($desktop) {
  @media (max-width: $desktop) {
    .footer__old {
      background: aquamarine;
    }
  }
}

@include media($desktop);
